body{
    margin: 0;
    padding: 0;
}
.wrapperCircle{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50vw;

}
.blockInfo{
    width: 15vw;
    height: 15vw;
    border: 1px solid black;
    border-radius: 3vw;
    margin-left: 10vw;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 300px;
    pointer-events: none; /* Чтобы не мешать hover */
}
.blockInfo.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.circle{
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
    border: 1px solid black;
}
.circleElement{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid black;
    border-radius: 2.5vw;
}
.circleA{
    margin: 0vw 0vw 0vw 19.28vw;
}
.circleB{
    margin: 5vw 0vw 0vw 6.2vw;
}
.circleC{
    margin: 16vw 0vw 0vw 0.22vw;
}
.circleD{
    margin: 29vw 0vw 0vw 2.7vw;
}
.circleE{
    margin: 37.4vw 0vw 0vw 13vw;
}
.circleF{
    margin: 37.4vw 0vw 0vw 25.4vw;
}
.circleG{
    margin: 29vw 0vw 0vw 35.7vw;
}
.circleH{
    margin: 16vw 0vw 0vw 38.1vw;
}
.circleI{
    margin: 5vw 0vw 0vw 32.2vw;
}