body{
    margin: 0;
    padding: 0;
}
.wrapperCircle{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50vw;
}
.circle{
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
    border: 1px solid black;
}
.circleElement{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid black;
    border-radius: 2.5vw;
}
.lineG{
    margin-top: 25%;
    position: absolute;
    border: 1px solid black;
    width: 99.9%;
}
.lineV{
    margin-left: 50%;
    position: absolute;
    border: 1px solid black;
    min-height: 99.9%;
}
.circleA{
    margin: 0vw 0vw 0vw 19.28vw;
}
.circleB{
    margin: 5vw 0vw 0vw 6.2vw;
}
.circleC{
    margin: 16vw 0vw 0vw 0.22vw;
}
.circleD{
    margin: 29vw 0vw 0vw 2.7vw;
}
.circleE{
    margin: 37.4vw 0vw 0vw 13vw;
}
.circleF{
    margin: 37.4vw 0vw 0vw 25.4vw;
}